<div class="container">

  <h1 class="deep-purple-text text-darken-2">Edit Your Listing</h1>

  <%= render 'form' %>

  <br>

  <div class="actions">
    <%= link_to 'Delete', auction_path(@auction),
      data: {:confirm => 'Are you sure?'}, :method => :delete,
      class: "right waves-effect waves-light btn small red" %>
  </div>

  <%= link_to 'Cancel Edit', @auction, class: "left" %>

</div>
