<div>

  <% @auctions.each do |auction| %>

    <div class="">
      <h5><%= link_to auction.item_name, auction %></h5>
      <article class="">
        <%= auction.item_desc %>
      </article>
      <br>
      <div class="">
        <%= auction.item_img %>
      </div>
      <%= link_to "Edit", edit_auction_path(auction) %>
    </div>

  <% end %>

</div>
